<a href="https://colab.research.google.com/github/nptikiran/PythonBasic/blob/main/pd_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/sales_data_types.csv')
data.head()

   Customer Number     Customer Name         2016  ... Day  Year Active
0          10002.0  Quest Industries  $125,000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920,000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50,000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350,000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15,000.00  ...   2  2014      N

[5 rows x 10 columns]

In [ ]:
data.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

Here we have to convert Custemer Number & Jan units columns in int, 2016, 2017, percent growth columns in float and active column is in boolean.

In [ ]:
data['Customer Number'] = data['Customer Number'].astype('int')
data.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [ ]:
data['2016'].astype('float')

ValueError: ignored

astype() not working with 2016 column because column 2016 contain comma(,) and dollar sign($). So we should have to remove it first.

In [ ]:
def convert_currency(val):#creating function "convert_currency" with variable 'val'
  """
  Converting string to float by removing,
  - remove $
  - remove 
  - convert to float type
  """
  new_val = val.replace('$','').replace(',','')
  return float(new_val)

In [ ]:
data['2016'].dtypes

dtype('O')

In [ ]:
data['2016'] = data['2016'].apply(convert_currency)
data['2017'] = data['2017'].apply(convert_currency)
data.dtypes

AttributeError: ignored

In [ ]:
data['Jan Units'].astype('int')

ValueError: ignored

In [ ]:
#Define function for 'percent growth' column to remove '%' and change it in float.
def convert_percent(val):
  """
  Convert column type object to float.
  - Remove %
  - convert to float
  """
  new_val = val.replace('%','')
  return float (new_val) / 100

In [ ]:
data['Percent Growth'] = data['Percent Growth'].apply(convert_percent)

In [ ]:
data['Percent Growth'].unique()

array(['30.00%', '10.00%', '25.00%', '4.00%', '-15.00%'], dtype=object)

In [ ]:
# Unique values in Column 'Jan Units'
data['Jan Units'].unique()

array(['500', '700', '125', '75', '0'], dtype=object)

In [ ]:
# Replace 'closed value in 0 and change dtype in 'int'
data['Jan Units'] = (data['Jan Units']).replace('Closed','0').astype('int')
data['Jan Units']

0    500
1    700
2    125
3     75
4      0
Name: Jan Units, dtype: int64

In [ ]:
# Column 'Active change in the boolean form by converting it into boolean by using np.where().
data['Active'] = np.where(data['Active'] == 'Y', True,False)

In [ ]:
# Cheching dtypes
data.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units            int64
Month                int64
Day                  int64
Year                 int64
Active                bool
dtype: object

#Change all the columns data types as per our requirement.